colors = {
  red: #BF616A
  yellow: #EBCB8B
  green: #A3BE8C
  blue: #8FA1B3
  cyan: #96B5B4

  light: {
    base: #EFF1F5
  }
  dark: {
    base: #4F5B66
  }
}

text-color = colors.light.base
background-color = colors.dark.base
button-color = colors.blue

button-padding = 6px 8px
button-radius = 3px
