@mixin sprite-folder($folder, $image-dimensions: false) {
}

@include compass-configuration($asset-cache-buster: busted, $asset-host: asset-host);

@mixin capture-and-set-legacy-ie(
  $ie6: false,
  $ie7: false,
  $ie8: false
) {
  @include capture-legacy-ie-matrix;
  @include set-legacy-ie-support($ie6, $ie7, $ie8);
}
